*, 
*::after, 
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;

}

header{
  
  background-color: #333;
}

header>ul {
  height: 2.5rem;
  overflow: hidden;
  list-style-type: none;
  display: flex;
  align-items: center;
 
}

header>ul>li{
  height: 100;
}




header>ul>li:hover{
  background-color: #111;
}

header>ul>li>a {
  /*float: left;*/
  color: whitesmoke;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 16px;  
}

.cardContainer{
  display: flex;
}

.singleCard {
  max-width: 300px;
  max-height: 300px;
  padding: 2rem;
  background-color: red;
  border: 3px solid rgb(46, 119, 95);
  
}

.singleCard > img{
  width: 200px;
  height: 200;
  object-fit: cover;
}

footer {
  width: 100%;
  padding: 2rem;
  height: 200px;
  object-fit: cover;

}